<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rb1">
	<xacro:include filename="$(find robot_urdf)/urdf/robot_arm.urdf"/>
	<xacro:include filename="$(find robot_urdf)/urdf/robot_hand.urdf"/>
	<xacro:robot_arm />
	<xacro:robot_hand rpy="0 0 0" connected_to="link4_rot2"/>
</robot>
	
